In [2]:
import pandas as pd
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.linear_model import LogisticRegression

In [3]:
data = pd.read_csv('Combined_News_DJIA.csv')

In [4]:
data.head()

,Date,Label,Top1,Top2,Top3,Top4,Top5,Top6,Top7,Top8,...,Top16,Top17,Top18,Top19,Top20,Top21,Top22,Top23,Top24,Top25
0,2008-08-08,0,"b""Georgia 'downs two Russian warplanes' as cou...",b'BREAKING: Musharraf to be impeached.',b'Russia Today: Columns of troops roll into So...,b'Russian tanks are moving towards the capital...,"b""Afghan children raped with 'impunity,' U.N. ...",b'150 Russian tanks have entered South Ossetia...,"b""Breaking: Georgia invades South Ossetia, Rus...","b""The 'enemy combatent' trials are nothing but...",...,b'Georgia Invades South Ossetia - if Russia ge...,b'Al-Qaeda Faces Islamist Backlash',"b'Condoleezza Rice: ""The US would not act to p...",b'This is a busy day: The European Union has ...,"b""Georgia will withdraw 1,000 soldiers from Ir...",b'Why the Pentagon Thinks Attacking Iran is a ...,b'Caucasus in crisis: Georgia invades South Os...,b'Indian shoe manufactory - And again in a se...,b'Visitors Suffering from Mental Illnesses Ban...,"b""No Help for Mexico's Kidnapping Surge"""
1,2008-08-11,1,b'Why wont America and Nato help us? If they w...,b'Bush puts foot down on Georgian conflict',"b""Jewish Georgian minister: Thanks to Israeli ...",b'Georgian army flees in disarray as Russians ...,"b""Olympic opening ceremony fireworks 'faked'""",b'What were the Mossad with fraudulent New Zea...,b'Russia angered by Israeli military sale to G...,b'An American citizen living in S.Ossetia blam...,...,b'Israel and the US behind the Georgian aggres...,"b'""Do not believe TV, neither Russian nor Geor...",b'Riots are still going on in Montreal (Canada...,b'China to overtake US as largest manufacturer',b'War in South Ossetia [PICS]',b'Israeli Physicians Group Condemns State Tort...,b' Russia has just beaten the United States ov...,b'Perhaps *the* question about the Georgia - R...,b'Russia is so much better at war',"b""So this is what it's come to: trading sex fo..."
2,2008-08-12,0,b'Remember that adorable 9-year-old who sang a...,"b""Russia 'ends Georgia operation'""","b'""If we had no sexual harassment we would hav...","b""Al-Qa'eda is losing support in Iraq because ...",b'Ceasefire in Georgia: Putin Outmaneuvers the...,b'Why Microsoft and Intel tried to kill the XO...,b'Stratfor: The Russo-Georgian War and the Bal...,"b""I'm Trying to Get a Sense of This Whole Geor...",...,b'U.S. troops still in Georgia (did you know t...,b'Why Russias response to Georgia was right',"b'Gorbachev accuses U.S. of making a ""serious ...","b'Russia, Georgia, and NATO: Cold War Two'",b'Remember that adorable 62-year-old who led y...,b'War in Georgia: The Israeli connection',b'All signs point to the US encouraging Georgi...,b'Christopher King argues that the US and NATO...,b'America: The New Mexico?',"b""BBC NEWS | Asia-Pacific | Extinction 'by man..."
3,2008-08-13,0,b' U.S. refuses Israel weapons to attack Iran:...,"b""When the president ordered to attack Tskhinv...",b' Israel clears troops who killed Reuters cam...,b'Britain\'s policy of being tough on drugs is...,b'Body of 14 year old found in trunk; Latest (...,b'China has moved 10 *million* quake survivors...,"b""Bush announces Operation Get All Up In Russi...",b'Russian forces sink Georgian ships ',...,b'Elephants extinct by 2020?',b'US humanitarian missions soon in Georgia - i...,"b""Georgia's DDOS came from US sources""","b'Russian convoy heads into Georgia, violating...",b'Israeli defence minister: US against strike ...,b'Gorbachev: We Had No Choice',b'Witness: Russian forces head towards Tbilisi...,b' Quarter of Russians blame U.S. for conflict...,b'Georgian president says US military will ta...,b'2006: Nobel laureate Aleksander Solzhenitsyn...
4,2008-08-14,1,b'All the experts admit that we should legalis...,b'War in South Osetia - 89 pictures made by a ...,b'Swedish wrestler Ara Abrahamian throws away ...,b'Russia exaggerated the death toll in South O...,b'Missile That Killed 9 Inside Pakistan May Ha...,"b""Rushdie Condemns Random House's Refusal to P...",b'Poland and US agree to missle defense deal. ...,"b'Will the Russians conquer Tblisi? Bet on it,...",...,b'Bank analyst forecast Georgian crisis 2 days...,"b""Georgia confict could set back Russia's US r...",b'War in the Caucasus is as much the product o...,"b'""Non-media"" photos of South Ossetia/Georgia ...",b'Georgian TV reporter shot by Russian sniper ...,b'Saudi Arabia: Mother moves to block child ma...,b'Taliban wages war on humanitarian aid workers',"b'Russia: World ""can forget about"" Georgia\'s...",b'Darfur rebels accuse Sudan of mounting major...,b'Philippines : Peace Advocate say Muslims nee...

In [5]:
train = data[data['Date'] < '2015-01-01']
test = data[data['Date'] > '2014-12-31']
#train.tail()
#train = data[data['Date'] < '20150101']
#test = data[data['Date'] > '20141231']
train.tail()
#print(train.shape)

,Date,Label,Top1,Top2,Top3,Top4,Top5,Top6,Top7,Top8,...,Top16,Top17,Top18,Top19,Top20,Top21,Top22,Top23,Top24,Top25
1606,2014-12-24,1,Death toll among Qatars 2022 World Cup workers...,Fishing Supertrawlers to be banned permanently...,Indian telecommunications company Airtel viola...,North Korea's Internet is down again; second b...,Jakarta to ban virginity tests for female civi...,Workers at Chinese iPhone factories are pressu...,Thousands in Spain protest ban on demonstratio...,London activists occupy 5-storey former bank i...,...,Scientists discover oldest stone tool ever fou...,ISIS claims capture of Jordanian pilot after p...,Russian prime minister warns of 'deep recessio...,Russia says France must fulfil Mistral contrac...,Secret flight linking Israel to the UAE reveal...,Ukraine temporarily cuts off power supplies to...,Coalition plane 'crashes in Syria',Across the world 'Silent Night' to honor WWI X...,Elderly Nigerians Rounded Up And Shot Dead,Russia May Be Cut to Junk rating as S&amp;P Sa...
1607,2014-12-26,1,Saudis are eagerly awaiting the approval of a ...,"Due to the fall in oil prices, Saudi Arabia is...",Bill giving government the power to shutdown t...,A struggle for women's rights is brewing withi...,Putin cancels New Year's Holiday for governmen...,Ireland is siding with Microsoft in its legal ...,More than 80 people including women and childr...,"The Syrian Army has killed nearly 5,000 Islami...",...,Senior UN officials expelled from Sudan follow...,Mauritania journalist sentenced to death for a...,Kim Dotcom Makes Deal with LizardSquad to stop...,Ukraine peace talks called off,Tibetan protests reported in China's Sichuan,New Study Adds to Skepticism Among Security Ex...,"US relocates 3,000 MRAPs, other military gear ...",Russia's new military doctrine names NATO as a...,Protesters in Mexico claim that German arms ma...,A leading Russian elected official on Thursday...
1608,2014-12-29,0,Solar Power Storage Prices Drop 25% In Germany...,North Korea Hit Again By Internet Outage; Expe...,ARCHAEOLOGY - Massive ancient underground city...,Reopen investigation into Westminster pedophil...,"Taliban declare 'defeat' of U.S., allies in Af...",British Falklands defence review after militar...,Virgin Confirms Fault On Plane Circling Over UK,Photo of 'women murdered for refusing sex jiha...,...,"Islamic State executed nearly 2,000 people in ...",The leader of one of Mexico's first anti-crime...,Gmail has been blocked in China,Egyptian writer to face trial for 'insulting I...,Reports reveal scale of destruction of Syrias ...,Russia will supply coal and electricity to Kie...,ISIS executes more doctors in Mosul,Russia shows first sign of recession as GDP co...,"AirAsia plane likely 'at bottom of the sea,' s...",AirAsia Flight's Altitude Request Was Refused
1609,2014-12-30,0,China businessman jailed for 13 years for buyi...,"AirAsia live: Emergency slide, plane door seen...","AirAsia plane wreckage found, bodies being rec...",Scotland confirms case of Ebola - Ebola cases ...,Pope Francis to Catholics: It's time to take a...,Oil hits five-and-a-half-year low below $57 on...,"""Lizard Squad"" members who ruined Christmas fo...",Two students in Thailand face up to 15 years i...,...,Turkey is being used as one of the primary rou...,Swedish mosque set ablaze in second suspected ...,Cybersecurity Firm Identifies Six In Sony Hack...,The U.N. General Assembly voted unanimously Mo...,"""The regime must be destroyed"": Alexei Navalny...","Aleksei Navalny, Russian opposition leader, is...","Search area for Air Asia QZ8501 expanded, stil...",Ebola case confirmed in Glasgow | World news,AirAsia plane carrying 153 people overshoots r...,One of China's most industrialized cities has ...
1610,2014-12-31,0,AirAsia flight found at the bottom of the Java...,North Korean defector details 'human experimen...,Korean Air ex-executive Cho Hyun-ah arrested -...,"South Korean to drop Sony film ""The Interview""...",U.S. opening of oil export widens battle: The ...,FBI agents investigating the Sony Pictures hac...,Indian Government Orders Blocking of 32 Websit...,Russia annual inflation jumps to 11.4% as roub...,...,Newly published NSA documents show agency coul...,Britain says it cannot support new Palestinian...,Bolivias Morales: US 'Backs Drug Trafficking',Euro zone politicians are not obliged to rescu...,Greece Dissolves Parliament to Prepare for Ear...,German Chancellor Angela Merkel in a New Year'...,Al Shabaab leader killed in U.S. air strike in...,New solar power material converts 90 percent o...,China launches website laying claim to Senkaku...,At Least 33 Killed in Yemen Suicide Bombing

In [6]:
example = train.iloc[3,10]
example = example.lower()
example = CountVectorizer().build_tokenizer()(example)
print(example)

['the', 'commander', 'of', 'navy', 'air', 'reconnaissance', 'squadron', 'that', 'provides', 'the', 'president', 'and', 'the', 'defense', 'secretary', 'the', 'airborne', 'ability', 'to', 'command', 'the', 'nation', 'nuclear', 'weapons', 'has', 'been', 'relieved', 'of', 'duty']

In [7]:
pd.DataFrame([[x,example.count(x)] for x in set(example)], columns = ['Word', 'Count'])

              Word  Count
0             been      1
1             that      1
2        secretary      1
3              the      5
4              air      1
5          nuclear      1
6        commander      1
7        president      1
8         squadron      1
9          ability      1
10              of      2
11        provides      1
12        airborne      1
13         command      1
14              to      1
15          nation      1
16        relieved      1
17         defense      1
18            duty      1
19            navy      1
20  reconnaissance      1
21             has      1
22             and      1
23         weapons      1

In [8]:
trainheadlines = []
for row in range(0,len(train.index)):
    trainheadlines.append(' '.join(str(x) for x in train.iloc[row,2:27]))
print(trainheadlines[0])

b"Georgia 'downs two Russian warplanes' as countries move to brink of war" b'BREAKING: Musharraf to be impeached.' b'Russia Today: Columns of troops roll into South Ossetia; footage from fighting (YouTube)' b'Russian tanks are moving towards the capital of South Ossetia, which has reportedly been completely destroyed by Georgian artillery fire' b"Afghan children raped with 'impunity,' U.N. official says - this is sick, a three year old was raped and they do nothing" b'150 Russian tanks have entered South Ossetia whilst Georgia shoots down two Russian jets.' b"Breaking: Georgia invades South Ossetia, Russia warned it would intervene on SO's side" b"The 'enemy combatent' trials are nothing but a sham: Salim Haman has been sentenced to 5 1/2 years, but will be kept longer anyway just because they feel like it." b'Georgian troops retreat from S. Osettain capital, presumably leaving several hundred people killed. [VIDEO]' b'Did the U.S. Prep Georgia for War with Russia?' b'Rice Gives Green Light for Israel to Attack Iran: Says U.S. has no veto over Israeli military ops' b'Announcing:Class Action Lawsuit on Behalf of American Public Against the FBI' b"So---Russia and Georgia are at war and the NYT's top story is opening ceremonies of the Olympics?  What a fucking disgrace and yet further proof of the decline of journalism." b"China tells Bush to stay out of other countries' affairs" b'Did World War III start today?' b'Georgia Invades South Ossetia - if Russia gets involved, will NATO absorb Georgia and unleash a full scale war?' b'Al-Qaeda Faces Islamist Backlash' b'Condoleezza Rice: "The US would not act to prevent an Israeli strike on Iran." Israeli Defense Minister Ehud Barak: "Israel is prepared for uncompromising victory in the case of military hostilities."' b'This is a busy day:  The European Union has approved new sanctions against Iran in protest at its nuclear programme.' b"Georgia will withdraw 1,000 soldiers from Iraq to help fight off Russian forces in Georgia's breakaway region of South Ossetia" b'Why the Pentagon Thinks Attacking Iran is a Bad Idea - US News &amp; World Report' b'Caucasus in crisis: Georgia invades South Ossetia' b'Indian shoe manufactory  - And again in a series of "you do not like your work?"' b'Visitors Suffering from Mental Illnesses Banned from Olympics' b"No Help for Mexico's Kidnapping Surge"

In [9]:
basicvectorizer = CountVectorizer()
basictrain = basicvectorizer.fit_transform(trainheadlines)
print(basictrain.shape)

(1611, 31675)

In [10]:
basicmodel = LogisticRegression(solver='lbfgs', max_iter=10000)
basicmodel = basicmodel.fit(basictrain, train["Label"])

In [11]:
testheadlines = []
for row in range(0,len(test.index)):
    testheadlines.append(' '.join(str(x) for x in test.iloc[row,2:27]))
basictest = basicvectorizer.transform(testheadlines)
print(basictest.shape)

(378, 31675)

In [12]:
predictions = basicmodel.predict(basictest)

In [13]:
pd.crosstab(test["Label"], predictions, rownames=["Actual"], colnames=["Predicted"])

Predicted   0    1
Actual
0          60  126
1          92  100

In [14]:
basicwords = basicvectorizer.get_feature_names()
basiccoeffs = basicmodel.coef_.tolist()[0]
coeffdf = pd.DataFrame({'Word' : basicwords, 
                        'Coefficient' : basiccoeffs})
coeffdf = coeffdf.sort_values(['Coefficient', 'Word'], ascending=[0, 1])
coeffdf.head(10)

            Word  Coefficient
19419    nigeria     0.493552
25261       self     0.453106
20135   olympics     0.426748
29286         tv     0.423902
15998      korea     0.418791
26323         so     0.413300
15843      kills     0.403112
10874      fears     0.391046
29256       turn     0.386396
28274  territory     0.382632

In [15]:
coeffdf.tail(10)

            Word  Coefficient
27299   students    -0.428487
8478         did    -0.430364
6683       congo    -0.439756
7139     country    -0.444130
12818    hacking    -0.445923
16949        low    -0.466327
3651       begin    -0.467119
25433        sex    -0.500156
24754  sanctions    -0.546052
24542        run    -0.593736

In [16]:
advancedvectorizer = CountVectorizer(ngram_range=(2,2))
advancedtrain = advancedvectorizer.fit_transform(trainheadlines)
print(advancedtrain.shape)

(1611, 366721)

In [17]:
advancedmodel = LogisticRegression(solver='lbfgs', max_iter=10000)
advancedmodel = advancedmodel.fit(advancedtrain, train["Label"])

In [18]:
testheadlines = []
for row in range(0,len(test.index)):
    testheadlines.append(' '.join(str(x) for x in test.iloc[row,2:27]))
advancedtest = advancedvectorizer.transform(testheadlines)
advpredictions = advancedmodel.predict(advancedtest)

In [19]:
pd.crosstab(test["Label"], advpredictions, rownames=["Actual"], colnames=["Predicted"])

Predicted   0    1
Actual
0          62  124
1          43  149

In [20]:
advwords = advancedvectorizer.get_feature_names()
advcoeffs = advancedmodel.coef_.tolist()[0]
advcoeffdf = pd.DataFrame({'Words' : advwords, 
                        'Coefficient' : advcoeffs})
advcoeffdf = advcoeffdf.sort_values(['Coefficient', 'Words'], ascending=[0, 1])
advcoeffdf.head(10)

              Words  Coefficient
272047     right to     0.282174
24710     and other     0.272983
285392       set to     0.269663
316194    the first     0.261189
157511     in china     0.220215
159522     in south     0.217995
124411    forced to     0.214278
125870     found in     0.211413
173246       it has     0.208463
214955  new zealand     0.204277

In [21]:
advcoeffdf.tail(10)

              Words  Coefficient
118707      fire on    -0.203264
326846      to help    -0.203980
155038        if he    -0.209366
242528   people are    -0.214941
31669    around the    -0.215376
321333     there is    -0.216367
327113      to kill    -0.224369
340714        up in    -0.228230
358917    with iran    -0.230281
315485  the country    -0.334778

In [22]:
advancedvectorizer = CountVectorizer(ngram_range=(2,3))
advancedtrain = advancedvectorizer.fit_transform(trainheadlines)
print(advancedtrain.shape)

(1611, 977861)

In [23]:
advancedmodel2 = LogisticRegression(solver='lbfgs', max_iter=10000)
advancedmodel2 = advancedmodel.fit(advancedtrain, train["Label"])
testheadlines = []
for row in range(0,len(test.index)):
    testheadlines.append(' '.join(str(x) for x in test.iloc[row,2:27]))
advancedtest2 = advancedvectorizer.transform(testheadlines)
advpredictions = advancedmodel2.predict(advancedtest2)
pd.crosstab(test["Label"], advpredictions, rownames=["Actual"], colnames=["Predicted"])

Predicted   0    1
Actual
0          45  141
1          26  166

In [24]:
slicedData = data.iloc[:,2:27]
slicedData.replace(to_replace="[^a-zA-Z]", value=" ", regex=True, inplace=True)
wholelines = []
for row in range(0,len(slicedData.index)):
    wholelines.append(' '.join(str(x) for x in slicedData.iloc[row,0:25]))
print(len(wholelines))
print(wholelines[25])

1989
b Did Saakashvili Lie   The West Begins to Doubt Georgian Leader  b Indian Newspapers after Terrorist Attack on Delhi     some of the liberties that we take for granted might have to be curbed to ensure that terrorists are effectively restrained    b EU Stocks plunge   b Israel raid  could be war crime   b Venezuela Joins Bolivia in Expelling U S  Ambassador   washingtonpost com  b US Killed Civilians in Afghanistan After a False Tip From a Rival Tribe  b BBC News Declining due to Mistreating of Stringers  b If there s no such thing as Al Qaeda  how do you explain this   b U S  Selling Bunker Busting Smart Bombs to Israel       Hmmmm  b Pakistan soldiers  confront US   b A Global Poll Shows That Only    Percent Of Americans Are Opposed To Torture  In Between Azerbaijan at     and Russia at       b Portal song with typography  b Russian Television Broadcasted a      Truth Documentary To    million People  b Europe Shuns U S  Style  Active Role  in Boosting Economy  Bank Bailouts  b Nigeria militants warn of oil war   b Telling Georgia to keep attacking Russia is like telling a    pound weakling to rematch with the hulking thug who just put him on the floor   b Israeli security forces black performer to dance to prove his identity  b Zimbabwe s President Robert Mugabe has signed a historic power sharing deal with his long time rival  opposition leader  Morgan Tsvangirai   b North Korean leader Kim Jong Il  who is reportedly recovering from a stroke  began losing consciousness at work in April and could not properly govern as his health worsened  b Burma  Doctor met Aung San Suu Kyi  but refused to gave details on her healh  b Canadian destroyer helps save Italian freighter from Somali pirates  b World Bank poverty statistics questioned  additional     million people acknowledged living in poverty  b Islamic Terrorists in Australia  Guilty verdicts in terror trial  b Minister  set to quit  over Brown  b Bono   retire from public life and we ll donate a ton of money to fight AIDS

In [25]:
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction import stop_words

In [53]:
X_train, X_test, y_train, y_test = train_test_split(wholelines, data['Label'], test_size=.2, random_state=0)
len(y_train)

1591

In [66]:
from sklearn.feature_extraction.text import TfidfVectorizer
basicvectorizer = TfidfVectorizer(ngram_range=(2,3), stop_words='english',max_features=2000)
basictrain = basicvectorizer.fit_transform(X_train)
basictest = basicvectorizer.transform(X_test)
print(basictrain.shape)
print(basictest.shape)

(1591, 2000)
(398, 2000)

In [67]:
#transformer = TfidfTransformer()

In [68]:
#basictrain = transformer.fit_transform(basictrain)
#basictest = transformer.transform(basictest)
#print(train_tfidf.shape)
#print(test_tfidf.shape)

In [69]:
basicmodel = LogisticRegression(penalty='l1')
model = basicmodel.fit(basictrain, y_train)
#model.score(test_tfidf, y_test)
predictions = model.predict_proba(basictest)
#print(predictions)
yv = 0.5
predictions_q = []
for i in predictions:
    if i[1] >= yv:
        predictions_q.append(1)
    else:
        predictions_q.append(0)
predictions_q = pd.Series(predictions_q)
y_test = y_test.to_list()
y_test = pd.Series(y_test)
#print(y_test)
pd.crosstab(y_test, predictions_q, rownames=["Actual"], colnames=["Predicted"])

Predicted   0    1
Actual
0          15  178
1          18  187

In [64]:
advwords = basicvectorizer.get_feature_names()
advcoeffs = model.coef_.tolist()[0]
advcoeffdf = pd.DataFrame({'Words' : advwords, 
                        'Coefficient' : advcoeffs})
advcoeffdf = advcoeffdf.sort_values(['Coefficient', 'Words'], ascending=[0, 1])
advcoeffdf.head(10)

                   Words  Coefficient
4104     sexual violence     1.734173
4022    security council     1.689680
4891       world largest     1.056012
4434            tear gas     0.823481
4947            year old     0.709877
1841  human rights watch     0.659681
4156        social media     0.479382
3960         says russia     0.444028
2967         north korea     0.089796
3759        rights watch     0.000602

In [65]:
advcoeffdf.tail(10)

                       Words  Coefficient
4996                 yrs ago     0.000000
4997      zealand government     0.000000
4998  zealand prime minister     0.000000
4999              zika virus     0.000000
4141                sky news    -0.011752
3664               red cross    -0.136567
3198           panama papers    -0.212923
2264          justin trudeau    -0.228969
160            angela merkel    -0.258697
4180            south africa    -0.299893